{% extends "myHTMX/base.html" %}

{% block content %}

<div>
    <div>
        <h2>
            dynamic forms with Django and Htmx
        </h2>
    </div>
    <div>

        <form method="POST" action="{% url 'home-search' %}">
            {% csrf_token %}
            <input type="text" class="form-control" placeholder="Search..." name="q" value="{{ q }}">
            <button class="btn btn-secondary" type="submit">Search</button>
        </form>

        <button><a href="{% url 'home-search' %} ">Reload</a></button>

        <button type="button" hx-get="{% url 'create-entry-form' %}" hx-target="#entryforms" hx-swap="beforeend">
            Add New Entry
        </button>
    </div>
</div>

<div class="mt-5 py-5 border-t border-gray-100">
    {% for entry in entries %}

    {% include "myHTMX/entry_detail.html" %}

    {% endfor %}
</div>

<div id="entryforms" class="py-5 mt-5"></div>

{% endblock %}