{% extends 'base.html' %}

{% load my_tags %}

{% block content %}

<div class="d-flex align-items-center justify-content-center">
    <div col-3>
        <form method="POST">
            {% csrf_token %}
            <div class="row">
                <h4>Search Filter</h4>
            </div>

            <div>
                <div class="row">
                    <div class="form-group col-6">
                        {{ filter.form.username.label_tag }}
                        {{ filter.form.username }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-6">
                        {{ filter.form.last_name.label_tag }}
                        {{ filter.form.last_name }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-6">
                        {{ filter.form.date_joined__year__gt.label_tag }}
                        {{ filter.form.date_joined__year__gt }}
                    </div>
                </div>

                <div class="row">
                    <button type="submit" class="btn btn-primary">
                        Search
                    </button>

                </div>

            </div>
        </form>
    </div>

    <div col-9>
        <table class="table">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>email</th>
                    <th>Date joined</th>
                    <th>Auditor</th>
                </tr>
            </thead>
            <tbody>
                {% for u in filter.qs %}
                <tr>
                    <td>{{ u.username }}</td>
                    <td>{{ u.first_name }}</td>
                    <td>{{ u.last_name }}</td>
                    <td>{{ u.email }}</td>
                    <td>{{ u.date_joined }}</td>
                    <td>
                        <!-- {% if request.user|has_group:"AUDITOR" %}
                        Y
                        {% else %}
                        N
                        {% endif %} -->

                        {% if u.username|in_group:"AUDITOR" %}
                        Y
                        {% else %}
                        N
                        {% endif %}

                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5">No data</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>

{% endblock %}