{% extends 'base.html' %}

{% load my_tags %}

{% block content %}

<input type="hidden" id="download_file_id" name="download_file_name" value="{{ download_file }}">

<div class="d-flex align-items-center justify-content-center">
    <div col-3>
        <form method="POST">
            {% csrf_token %}
            <div class="row">
                <h5>Search Filter</h5>
                <span>
                    <div id="search-spinner" style="display:none" class="spinner-border text-primary" role="status">
                        <span class="sr-only">Searching ....</span>

                    </div>
                </span>

            </div>

            <div>
                <div class="row">
                    <div class="form-group col-6">
                        {{ filter.form.username.label_tag }}
                        {{ filter.form.username }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-6">
                        {{ filter.form.last_name.label_tag }}
                        {{ filter.form.last_name }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-6">
                        {{ filter.form.date_joined__year__gt.label_tag }}
                        {{ filter.form.date_joined__year__gt }}
                    </div>
                </div>

                <div class="row">
                    <button id="submit-id" type="submit" class="btn btn-primary mr-5"
                        onclick="return on_submit_click(this.id)"> Search </button>

                    <button class="btn btn-primary mr-1" onclick="return myfiledownload(event)">Download</button>

                </div>

            </div>
        </form>
    </div>

    <div col-9>
        <table class="table">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>email</th>
                    <th>Date joined</th>
                    <th>Auditor</th>
                </tr>
            </thead>
            <tbody>
                {% for u in filter.qs %}
                <tr>
                    <td>{{ u.username }}</td>
                    <td>{{ u.first_name }}</td>
                    <td>{{ u.last_name }}</td>
                    <td>{{ u.email }}</td>
                    <td>{{ u.date_joined }}</td>
                    <td>
                        <!-- {% if request.user|has_group:"AUDITOR" %}
                        Y
                        {% else %}
                        N
                        {% endif %} -->

                        {% if u.username|in_group:"AUDITOR" %}
                        Y
                        {% else %}
                        N
                        {% endif %}

                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5">No data</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>

<script type="text/javascript">
    window.onload = function check_download() {
        var b = document.getElementById("download_file_id")
        if (b.value == "Y")
            window.location.href = "{% url 'download_file' %}"

    }


    function on_submit_click(current_id) {
        var answer = confirm("Sure ?")
        if (answer) {
            var b = document.getElementById(current_id)
            b.style.display = "none"

            var spinner = document.getElementById("search-spinner")
            spinner.style.display = "inline-flex"
        }

        return answer

    }

    function myfiledownload(event) {
        event.stopPropagation()
        window.location.href = "{% url 'download_file' %}"
        return false
    }

</script>



{% endblock %}