{% extends "base.html" %}

{% block content %}

<div class="container">

    {% if messages %}
    <p>
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
    </ul>
    </p>
    {% endif %}

    <form action="" method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Save">
    </form>
</div>

{% for field in form %}
<div class="fieldWrapper">
    {{ field.errors }}
    {{ field.label_tag }} {{ field }}
    {% if field.help_text %}
    <p class="help"> {{ field.help_text | safe }}</p>
    {% endif %}
</div>
{% endfor %}

{% endblock %}